#body_content_left {
  width: 67%;
}

#body_content_right {
  width: 28%;
}

.blog_post {
  padding-top: 20px;
  padding-bottom: 10px;
}

.blog_post h1 a {
  text-decoration: none;
}

.blog_post h1 a:hover {
  text-decoration: underline;
}

.blog_post h1, .blog_post h1 * {
  font-size: 16px;
  color: white;
  font-family: Verdana;
  font-weight: normal;
  text-align: left;
  line-height: 22px;
}

#new_blog_comment label {
  display: block;
  float: left;
  width: 100px;
  margin-top: 5px;
}

#new_blog_comment .field {
  margin-bottom: 10px;
}

#blog_comment_submit {
  margin-left: 100px;
  color: black;
}