#body_content_left {
  width: 78%;
}

#body_content_right {
  width: 17%;
}

.blog_post {
  padding-top: 30px;
  padding-bottom: 10px;
}

.blog_post h1 a {
  text-decoration: none;
}

.blog_post .posted_at {
  margin-top: -15px;
}

.blog_post h1 a:hover {
  text-decoration: underline;
}

#body_content h1, #body_content h1 * {
  text-align: left;
}

.blog_post h1, .blog_post h1 * {
  font-size: 16px;
  color: white;
  font-family: Verdana;
  font-weight: normal;
  text-align: left;
  line-height: 22px;
}

#new_blog_comment label {
  display: block;
  float: left;
  width: 100px;
  margin-top: 5px;
}

#new_blog_comment .field {
  margin-bottom: 10px;
}

#blog_comment_submit {
  margin-left: 100px;
  color: black;
}

#body_content_right ul {
  padding-top: 0px;
}

#body_content_right ul li {
    list-style: square;
    padding-left: 0px;
    margin-left: 15px;
    background: none;
    min-height: 100% !important;
    margin-bottom: 3px;
    padding-bottom: 0px;
  }
}