/*
  Override default refinery formatting below.
  Formatting applies to backend WYSIWYG editors and all frontend.
*/

body {
  font-family: Verdana;
  font-size: 12px;
  line-height: 20px;
}

#body_content h1, #body_content h1 * {
  font-family: Georgia;
  font-size: 35px;
  font-weight: normal;
  line-height: 40px;
  text-align: center;
}

#body_content h2, #body_content h2 * {
  font-size: 16px;
}

