/*
  Override default refinery homepage styles here.
  These only apply to the homepage of your site.
*/

section#feature_block {
  width: 960px;
  margin-left: -40px;
  height: 463px;
  background: url('/images/feature-background.png') no-repeat;
  position: relative;
}

#screenshot {
  position: absolute;
  left: 20px;
  top: 30px;
}

#body_content {
  padding-top: 0px;
  border-top: 0px;
  margin-top: -30px;
}

header {
  border-bottom: 0px;
}

#bottom_content {
  text-align: center;
}

#gears {
  float: right;
  padding-left: 20px;
}