<div id='left_footer_block'>
  <p id='twitter'>
    <%= link_to "Follow us", "http://twitter.com/refinerycms", :target => "_blank" %> on Twitter
  </p>
</div>
<div id='right_footer_block'>
  <%= render :partial => '/shared/menu',
               :locals => {
                 :hide_children => false,
                 :dom_id => 'footer_menu',
                 :extra_suffix => 'footer',
                 :roots => @menu_pages.roots.reverse
               } %>
  <p>
    Copyright &copy; <%= Time.now.year %>
    <%= link_to "Resolve Digital", "http://resolvedigital.com", :title => "Ruby on Rails Refinery CMS Development" %> - Creators of Refinery CMS.
  </p>
</div>
