<%= render :partial => "/shared/menu",
           :locals => {
             :dom_id => 'menu',
             :css => 'menu'
           } -%>

<% if is_guides? %>
  <%= render :partial => "/guides/header" %>
<% else %>
  <h1 id='logo'><%= link_to RefinerySetting.get(:site_name), root_url(:only_path => true) %></h1>
  <h2 id='tagline'>
    Ruby on Rails <abbr title="Content Management System">CMS</abbr> that supports Rails 4.2
  </h2>
<% end %>
