<section id='body_content'>
  <section id='feature_block'>
    <%= image_tag("refinery-screenshot.png", :id => "screenshot") %>
    <%#=raw @page[:feature_block] %>
  </section>
  <section>
    <h1>
      <%= page_title %>
    </h1>
    <%#=raw @page[:middle] %>
  </section>
  <hr/>
  <section>
    <%#=raw @page[:bottom] %>
  </section>
</section>